<%= link_to "Record Weight", new_weight_path %><br>
<strong>Last 3 days average:</strong><%= Weight.average(3, current_user).round(1) %></br>
<strong>Last 7 days average:</strong><%= Weight.average(7, current_user).round(1) %></br>  
<strong>Percent Change from last week*:</strong><%= Weight.change_from_last_week(current_user).round(1) %></br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<div class="col-md-5">
  <canvas id="myChart" width="200" height="150"></canvas>
</div>

<h4>Weights</h4>
<% @weights.each do |weight| %>
  Weight: <%= weight.pounds.round(1) %> |
  Date: <%= weight.date.strftime("%B, %d, %Y") %> |
  <%= link_to "Edit", edit_weight_path(weight) %></br>
<% end %>

<p class="notes">*Change from last week by default takes the average of the last 7 days and compares
to the 7 days before that.</class>

