<h3>Goal</h3>
Weight: <%= @goal.weight %><br>
Start Date: <%= @goal.start_date %><br>
Target Date: <%= @goal.target_date %><br>
Tolerence Above: <%= @goal.tolerence_above %><br>
Tolerence Below: <%= @goal.tolerence_below %><br>

Current Weight: <%= Weight.average(7, current_user).round(1) %><br>  
Target Change Per Week: <%= @goal.weekly_target_change %><br>
Next Week Goal Weight: <%= @goal.next_week_goal_weight %><br>
Target daily caloric deficit/surplus: <%= @goal.target_caloric_change %>